<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="AutomationSuite" parallel="methods" thread-count="2">
    <listeners>
        <listener class-name="com.automation.listeners.TestListener"/>
    </listeners>
    <test name="Web Application Tests">
        <classes>
            <class name="tests.WebAppTest"/>
        </classes>
    </test>
    <test name="Desktop Application Tests">
        <classes>
            <class name="tests.DesktopAppTest"/>
        </classes>
    </test>
    <test name="Rest API Tests">
        <classes>
            <class name="tests.UserCRUDAPITest"/>
            <class name="tests.NegativeAPITest"/>
        </classes>
    </test>
    <test name="Mobile Application Tests">
        <classes>
            <class name="tests.MobileAppTest"/>
        </classes>
    </test>
</suite>