<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="AutomationSuite" parallel="methods" thread-count="2">
    <listeners>
        <listener class-name="com.automation.listeners.TestListener"/>
    </listeners>
    <test name="WebTests">
        <classes>
            <class name="tests.ApplicationTests"/>
        </classes>
    </test>
    <test name="WindowsTests">
        <classes>
            <class name="tests.NotepadAutomationTest"/>
        </classes>
    </test>
</suite>